<section class="home-hero" style="opacity: 1; visibility: inherit;">
	<div class="home-hero__grid">
		<div class="home-hero__text">
			<h1>Solucions tècniques per requisits democràtics</h1>
		</div>
		<div class="home-hero__img">
			<img src="imgs/portada.png" alt="" />
		</div>
	</div>
	<a href="https://decidim.org/partners/" target="_blank">
		<div class="home-hero__banner">
			<div class="big">1<sup>er</sup></div>
			<p>Partner Oficial de</p>
			<div class="icon small icon-decidim-logo"></div>
		</div>
	</a>
</section>
